<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
    <% include ./partials/_header %>
    </header>

  <% for(key in urls) { %>
<h4>
        <form method="POST" action="/urls/<%= key %>/delete">
        <%= key + ": " + urls[key] %>
        <a href="/urls/<%= key %>">update</a>
<input type="submit" value="Delete">
</h4>
</form>
    <% }; %>


<a href="/urls/new">shorten a new URL</a>

</body>
</html>