<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
    <% include ./partials/_header %>
    </header>
    <% if(user == undefined) { %>
<p> You need to be logged in </p>
<% } else { %>
  <% if(Object.keys(urls).length === 0) { %>
<h3> Please register or sign in,
      if you have signed in and you see this message
      you have not added any links yet
 </h3>
  <% } %>
  <% for(key in urls) { %>
<h4>
        <form method="POST" action="/urls/<%= key %>/delete">
        <%= key + ": " + urls[key].url %>
        <a href="/urls/<%= key %>">update</a>
<input type="submit" value="Delete">
</h4>
</form>
    <% }; %>
<% }; %>

<a href="/urls/new">shorten a new URL</a>

</body>
</html>