<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
        <% include ./partials/_header %>
    </header>
    <% if(user == undefined || cookieId !== objectOwner) { %>
<p> You need to be logged in and own this url to see this page </p>
<% } else { %>
      <form action="/urls/<%= shortUrl %>/updated" method="POST" style="margin:150px;">
        <h2>ShortURL: <%= shortUrl %></h2>
      <input id="UpdatedLongURL" type="text" name="UpdatedLongURL" placeholder="http://" value="<%= longUrl %>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <% } %>
</body>
</html>